.Controls {
    top: 0;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: absolute;
    /* background-color: 	#cfeae4; */
    background-color:rgba(207, 234, 228, 0.9);
    padding-bottom: 1rem;
}

.Controls > h1 {
    font-size: 1.5rem;
    opacity: 1;
    color:#292e2d;
}

.train-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.train-button {
    width: 2.25rem;
    height: 2.25rem;
    margin: .15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.train-button.active{
    opacity: 1;
    box-shadow: 0 0 .1rem .1rem #faf8f2;
    background-color: #faf8f2;
    border-radius: 50%;
}

.train-icon {
    width: 2rem;
    height: 2rem;
    opacity: .5;
    border: none;
}

.train-button.active > .train-icon{
    opacity: 1;
}

.train-icon:hover {
    opacity: 1;
    cursor: pointer;
}

/* .slide-down{
	animation-name: slide-down;
	animation-duration: 1s;	
	animation-timing-function: ease-out;	
}

.slide-up{
	animation-name: slide-up;
	animation-duration: .7s;	
	animation-timing-function: linear;	
}

@keyframes slide-down {
    from {transform: translate(0, -100%)}
    to {transform: translate(0, 0)}
}

@keyframes slide-up {
    from {transform: translate(0, 0)}
    to {transform: translate(0, -100%)}
} */