.Controls {
    top: 0;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: absolute;
    background-color:rgba(61, 61, 61, 0.9);
}

.Controls > h1 {
    font-size: 1.25rem;
}

.Controls > * img {
    margin: .25rem;
    width: 2rem;
    opacity: .4;
}

.train-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.train-button.active{
    opacity: 1;
    width: 2rem;
}

.train-button:hover {
    opacity: 1;
    cursor: pointer;
}

.slide-down{
	animation-name: slide-down;
	animation-duration: 1s;	
	animation-timing-function: ease-out;	
}

.slide-up{
	animation-name: slide-up;
	animation-duration: .7s;	
	animation-timing-function: linear;	
}

@keyframes slide-down {
    from {transform: translate(0, -100%)}
    to {transform: translate(0, 0)}
}

@keyframes slide-up {
    from {transform: translate(0, 0)}
    to {transform: translate(0, -100%)}
}